<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Webpack App</title>
  </head>
  <body>
    <h1>WebPack-Sass-Twig</h1>
    <p>
      Configurazione - Developer & Production - di WebPack:<br>
      - SASS<br>
      - Twig<br>
    </p>

    {{ 'Elemento Twig' }}

  </body>
</html>
